@import url(./__edit-button/profile__edit-button.css);
@import url(./__add-button/profile__add-button.css);
@import url(./__info/profile__info.css);
@import url(./__description/profile__description.css);
@import url(./__name/profile__name.css);
@import url(./__job/profile__job.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__avatar-pencil/profile__avatar-pencil.css);
@import url(./__avatar-overlay/profile__avatar-overlay.css);



.profile {
  width: 100%;
  display: flex;
   justify-content: flex-start;
   align-items: center;
   padding-bottom: 50px;
   position: relative;
}


@media screen and (max-width:900px) {
  .profile {
    padding: 0 15px 50px;
  }
}


@media screen and (max-width: 760px) {
  .profile {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
  }
}
