.popup__button {
  min-height: 50px;
  margin-top: 48px;
  line-height: 1.22;
  color: white;
  border: none;
  background-color: black;
}

.popup__button:hover{
  border-radius: 2px;
  background-color: rgba(0, 0, 0, .8);
  transition: .3s;
  cursor: pointer;
}

@media screen and (max-width: 350px) {
  .popup__button {
    margin-top: 36px;
    width: 200px;
    min-height: 40px;
   font-size: 14px;

  }
}
