.profile__edit-button {
  margin-left: 20px;
  margin-top: 18px;
  width: 15px;
  height: 15px;
  padding: 12px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid white;
  background-size: 48%;
  background-position: center;
  background-image: url(../../../images/edit.svg);
  background-repeat: no-repeat;
}

.profile__edit-button:hover {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, .6);
  background-image: url(../../../images/edit-grey.svg);
  transition: .3s;
}

@media screen and (max-width: 760px) {
  .profile__edit-button {
    width: 8px;
    height: 8px;
    padding: 8px;
    position: absolute;
    bottom: 35px;
    right: -25px;
    background-size: 40%;
  }
}
