.profile__avatar {
  max-width: 120px;
  max-height: 120px;
  width: 100%;
  border-radius: 50%;
  margin-right: 30px;
  margin-top: 38px;
}

@media screen and (max-width: 600px) {
  .profile__avatar {
    margin: 0;
  }
}
