@import url(./__name/card__name.css);
@import url(./__image/card__image.css);
@import url(./__description/card__description.css);
@import url(./__like-button/card__like-button.css);
@import url(./__trash-btn/card__trash-btn.css);
@import url(./__counter/card__counter.css);
@import url(./__like-container/card__like-container.css);

.card {
  max-width: 282px;
  min-height: 360px;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
}
